@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

:root {
  --accent-color: #ff0000;
  --secondary-color: #000000;
  --text-color: #ffffff;
  --bg-color-light: #1c375a;
  --bg-color-dark: #194c7c;

  --fs-smallest: 1rem;
  --fs-small-medium: 1.25rem;
  --fs-small: 1.5rem;
  --fs-medium: 2rem;
  --fs-big: 3rem;
  --fs-bigger: 4rem;

  --ff-BO1: "Black Ops One", cursive;
}

html.a-js body {
  margin: 0 !important;
}

h1,
h2,
h3 {
  color: red;
}

p {
  font-size: var(--fs-small);
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--accent-color);
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: white;
  display: flex;
  flex-direction: column;
}

button {
  text-decoration: none;
  border: none;
  background-color: var(--accent-color);
  width: 10em;
  height: 2em;
  border-radius: 0.5em;
  color: var(--text-color);
  font-size: var(--fs-small-medium);
}

header {
  padding-left: 2em;
  padding-right: 2em;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-medium);
  height: 4em;
}

header > nav {
  display: flex;
  gap: var(--fs-medium);
}

header > div {
  text-align: center;
}

main {
  display: flex;
  flex: auto;
  flex-direction: column;
}

main .next-events {
  width: 100%;
  margin-bottom: 3em;
  align-items: center;
}

main .presentation {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  background-color: var(--bg-color-dark);
  padding: 1em;
}

main .presentation .container {
  margin: 1em;
  min-height: 8em;
  width: 45%;
}

main .presentation .container > h1 {
  text-align: center;
  font-size: var(--fs-medium);
  color: red;
  font-weight: bold;
}

.tile-container {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-evenly;
  gap: var(--fs-smallest);
}

.tile {
  background-color: var(--bg-color-light);
  position: relative;
  transform: translateY(2em);
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  padding: 0;
  margin: 0;
  width: 28%;
}

.tile-image-div {
  height: 70%;
  width: 100%;
}

.tile img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.tile .description {
  padding: 1em;
  height: 20%;
}

.tile .description h2 {
  font-size: var(--fs-medium);
}

.tile > button {
  height: 2.5em;
  margin: var(--fs-small);
}

.next-events h1 {
  transform: translateY(1em);
  font-size: var(--fs-bigger);
  font-weight: bold;
  padding-left: 2em;
  font-family: var(--ff-BO1);
  margin: 0.3em;
}

.past-events-container {
  display: flex;
  flex: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.ranch-presentation {
  display: flex;
  flex: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 5em;
  margin-left: 0;
  padding-top: 2em;
  padding-bottom: 2em;
}

.ranch-description {
  font-family: "Open Sans", sans-serif;
  font-size: var(--fs-small);
  width: 40%;
}

.ranch-description h3 {
  font-size: var(--fs-small);
}

.ranch-description h1 {
  font-size: var(--fs-medium);
  font-family: var(--ff-BO1);
}

.ranch-presentation:nth-child(even) {
  flex-direction: row-reverse;
  margin-right: 0;
  margin-left: 5em;
}

.ranch-presentation img {
  width: 30em;
}

.about {
  padding: 0em 1em 0em 1em; /* top right bottom left */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.about .about-text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.about .image {
  display: flex;
  flex-direction: column;
}

.contact {
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: row;
  width: 100%;
}

.contact img {
  height: 50%;
  width: 50%;
}

.contact form {
  height: auto;
  width: 50%;
  padding: 2em 5em 2em 5em;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-dark);
}

/* form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    justify-content: space-between;
}

form div > h6 {
    font-size: var(--fs-small-medium);
    padding-right: 1em;
} */

footer {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  background-color: var(--secondary-color);
  flex: inherit;
  justify-content: space-around;
  font-size: var(--fs-smallest);
}

footer div > div {
  display: flex;
  flex-direction: column;
}

footer > h3 {
  color: var(--bg-color-light);
}

@media screen and (max-width: 748px) {
  button {
    width: 8em;
    height: 3em;
  }
  header {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-small-medium);
    height: fit-content;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
  header > nav {
    display: flex;
    font-size: var(--fs-small-medium);
    padding: 1em;
  }
  main .presentation {
    display: flex;
    flex: auto;
    flex-direction: column;
  }
  main .presentation .container {
    max-width: 100%;
  }
  footer {
    font-size: var(--fs-smallest);
    align-items: center;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
  }
  footer > div {
    padding-top: 0.5em;
    text-align: center;
  }
  .tile-container {
    flex-direction: column;
  }

  .past-events-container {
    padding: 1em;
    gap: var(--fs-big);
  }
  .tile {
    width: 100%;
    justify-content: space-between;
  }
  .next-events h1 {
    font-size: var(--fs-bigger);
    font-family: var(--ff-BO1);
    padding-left: 0.5em;
  }
  .past-events-container {
    flex-direction: column;
  }
  .ranch-presentation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1em;
  }
  .ranch-presentation:nth-child(even) {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .ranch-description {
    width: auto;
  }
  .ranch-presentation img {
    width: 100%;
  }

  .contact {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 1em;
  }

  .contact form {
    width: 100%;
  }
  .contact > img {
    width: 100%;
    /* visibility: hidden;
        height: 0px;
        width: 0px; */
  }
}
